header {
	display: flex;
	justify-content: center;
	padding: 1rem;
}

header a {
	text-decoration: none;
}

header h1 {
	font-family: "Amatic SC", cursive;
	color: white;
	font-weight: 800;
	font-size: 60px;
}
